@import "../style/cart.css";
@import "../style/coursel.css";
@import "../style/hide.css";
@import "../style/index.css";
@import "../style/login.css";
@import "../style/product-item.css";
@import "../style/product.css";
@import "../style/producthover.css";
@import "../style/responsive.css";
@import "../style/style.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout_wrapper > main {
  flex: 1;
}
